<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Visulisation of Programming Languages</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section class='title'>
            <h1>Visulisation of Language Relationship</h1>
            <p>
                The graph below shows languages from the most recent ones to the ancient and the influence between them. All the data is fetched from Wikipedia with some manual cleanups.
                The source code could be found <a href="https://github.com/yangchenyun/history_of_languages">here</a>
            </p>
        </section>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="container">
            <div id="chart_container"></div>
            <div id="panel_container"></div>
        </div>

        <script type="text/template" id="panel_tmpl">
        <div id="panel">
            <dl>
              <dt class="section">
                <h3 style = "border-color: <%- data.color %>;"><%- data.name %></h3>

              </dt>
              <% _.each(_.keys(data), function (key) { %>
                <% if ( ['name', 'influenced', 'influenced_by', 'color', 'x', 'y'].indexOf(key) == -1  ){ %>
                  <dt class="section">
                    <span class="key_name"><%- util.printScreen(key) %>: </span>
                    <span><%- data[key] %></span>
                  </dt>
                <% } %>
              <% }); %>

              <% if ( !_.isEmpty(data['influenced']) ){ %>
              <dt class="section">
                <h4>Influenced</h4>
                <dl>
                    <% _.each( data['influenced'], function( il_name ){ %>
                    <dt class='ref_link'>
                        <span class="lang_color"
                            style="background-color: <%- util.getLangByName(il_name).color %> ;"></span>
                        <a class = 'lang_link' href="#<%- il_name %>"> <%- il_name %> </a>
                    </dt>
                    <% }); %>
                </dl>
              </dt>
              <% } %>

              <% if ( !_.isEmpty(data['influenced_by']) ){ %>
              <dt class="section">
                <h4>Influenced By</h4>
                <dl>
                    <% _.each( data['influenced_by'], function( il_name ){ %>
                    <dt class='ref_link'>
                        <span class="lang_color"
                            style="background-color: <%- util.getLangByName(il_name).color %> ;"></span>
                        <a class = 'lang_link' href="#<%- il_name %>"> <%- il_name %> </a>
                    </dt>
                    <% }); %>
                </dl>
              </dt>
              <% } %>
            </dl>
        </div>
        </script>

        <script src="bower_components/d3/d3.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="util.js"></script>
        <script src="chart.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>