.link {
  fill: none;
  stroke-opacity: .7;
  pointer-events: none;
  visibility: hidden;
}

.link.show {
  visibility: visible;
}

.lang {
  opacity: 0.2;
}

.lang.active {
  opacity: 1;
}

.lang.related {
  opacity: 0.7;
}

.lang_name {
  font-size: 0.8em;
}
